<div class="card-container">
    
    <mat-card class="example-card">
      <img mat-card-image src="https://imagessl7.casadellibro.com/a/l/s7/37/9788491990437.webp" alt="Descripción de la imagen">
      <mat-card-content>
        <p>Las últimas reflexiones sobre las preguntas más importantes del universo se incluyen en este trabajo póstumo, brillante y revolucionario
            Stephen Hawking fue reconocido como una de las mentes más brillantes de nuestro tiempo y una figura de inspiración después de desafiar su diagnóstico de ELA a la edad de veintiún años.</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="https://imagessl8.casadellibro.com/a/l/s7/88/9788499928388.webp" alt="Descripción de la imagen">
      <mat-card-content>
        <p>Esta esclarecedora obra ilustrada nos ofrece una historia del universo del Big Bang a los agujeros negros.
            Acompa#ada de asombrosas im#genes de la NASA y una serie de magn#ficas ilustraciones, presentamos en esta nueva edici#n las siete conferencias sobre la historia del universo del colosal f#sico brit#nico Stephen W. Hawking. </p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="https://imagessl6.casadellibro.com/a/l/s7/86/9788491996286.webp" alt="Descripción de la imagen">
      <mat-card-content>
        <p>adie que se tenga por culto puede ignorar las aportaciones científicas de Albert Einstein y Stephen Hawking, dos redentores del género humano.

            El profesor Hawking ha tomado en sus manos la comprometida tarea de seleccionar y presentar, con su propia opinión científica e intelectual.</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="https://imagessl5.casadellibro.com/a/l/s7/45/9788417067045.webp" alt="Descripción de la imagen">
      <mat-card-content>
        <p>Las entrevistas que nos revelan a la persona detrás de su torre teórica y científica 
            Las entrevistas que contiene este volumen nos revelan a la persona detrás de su torre teórica y científica. Su madre y su hermana relatan cómo fue su juventud y cómo llegóa ser quien es.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Segundo conjunto de tarjetas -->
<div class="card-container">
    <mat-card class="example-card">
      <img mat-card-image src="https://imagessl3.casadellibro.com/a/l/s7/93/9788491996293.webp" alt="Descripción de la imagen">
      <mat-card-content>
        <p>Aunque muchos lo ignoren, una parte sustancial de los pilares queásustentan la civilización actual se nutre de la física cuántica, junto a laárelatividad una de las dos grandes revoluciones científicas que cambiaronánuestra comprensión del mundo durante la primera mitad del siglo XX.</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="https://imagessl4.casadellibro.com/a/l/s7/94/9788410214194.webp" alt="Descripción de la imagen">
      <mat-card-content>
        <p>En siete pasos, Hawking logra explicar la historia del universo, desde las primeras teorías del mundo griego y de la epoca medieval hasta las más complejas teorías actuales, siempre con su característico tono didáctico y accesible a todos los públicos.</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="https://imagessl4.casadellibro.com/a/l/s7/04/9780857501004.webp" alt="Descripción de la imagen">
      <mat-card-content>
        <p>Estas son sólo algunas de las preguntas que se plantean en la obra maestra aclamada internacionalmente del físico de renombre mundial, considerado generalmente uno de los pensadores más importantes del mundo. Comienza con un repaso de las grandes teorías del cosmos, desde Newton hasta Einstein,</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="https://imagessl3.casadellibro.com/a/l/s7/43/9788408192343.webp" alt="Descripción de la imagen">
      <mat-card-content>
        <p>¿De dónde surgió el cosmos? ¿Hubo un principio en el tiempo? ¿El Universo es infinito? Hawking nos da la respuesta. 
            En 1988 apareció un libro que iba a cambiar de arriba abajo nuestra concepción del universo y que se convirtió en uno de los mayores bestsellers científicos:Historia del tiempo, de Stephen Hawking, el mayor genio del siglo XX después de Einstein.</p>
      </mat-card-content>
    </mat-card>
  </div>


  


  
