<div class="custom-card-container">
    <div class="custom-card">
      <p>Humor y Optimismo: A pesar de su grave condición física, mantuvo un buen sentido del humor y optimismo sobre la vida. Se le conocía por ser carismático, e incluso apareció en series de televisión como Los Simpson y The Big Bang Theory.</p>
    </div>
  
    <div class="custom-card">
      <p>Contribuciones a la Cosmología y la Física: Aparte de su trabajo sobre agujeros negros, Hawking también investigó las singularidades del universo y el origen del cosmos, conectando la teoría de la relatividad de Einstein con la mecánica cuántica.</p>
    </div>
  
    <div class="custom-card">
      <p>Intelecto Brillante: Hawking fue un genio en el campo de la física teórica, destacándose por sus estudios sobre los agujeros negros, la relatividad y la cosmología. Su teoría más famosa es la radiación de Hawking, que propone que los agujeros negros pueden emitir energía y eventualmente evaporarse.</p>
    </div>
  </div>
  
